<!doctype html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" href="crown.png" />
	<title>Quings</title>
</head>

<body>
	<h1>Welcome to Quings !</h1>
	<img src="crown.png" alt="Quings Crown">
	<h2>What are you looking for ?</h2>
	<%- v_help %>

	<form id=gogo action="/search" method="post">
		<label for="name">Maybe an artist ?</label><br><br>
		<input class="txt" type="text" id="name" name="name" value="<%= v_name %>"><br><br>
		<label for="place">Or a place ?</label><br><br>
		<input class="txt" type="text" id="place" name="place" value="<%= v_place %>"><br><br>
		<input type="submit" value="Submit">
	</form><br>

	<form action="/browse" method="get">
		<input type="submit" value="Or just browse">
	</form>
  <script>
    var bool = <%= v_bool%>;
    if(bool ==1){
      document.getElementById("gogo").submit();
    }
  </script>

</body>

</html>
