<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" href="crown.png" />
	<title>Quings</title>
	<link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
      	<script src ="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script type="text/javascript" src="http://api.geonames.org/export/geonamesData.js?username=samnal"></script>
	<script type="text/javascript" src="http://www.geonames.org/export/jsr_class.js"></script>
</head>

<body>
	<div id = "map" style = "max-width: 5000px; height: 600px"></div>
	<script>
	// Creating map
	var mapOptions = {
	       	center: [46, 2],
		zoom: 2
	}
	var quingIcon = L.icon({
		iconUrl: 'crown_marker.png',
		shadowUrl: 'crown_marker_shadow.png',

		iconSize:     [20,30], // size of the icon
		shadowSize:   [20, 30], // size of the shadow
		iconAnchor:   [10, 30], // point of the icon which will correspond to marker's location
		shadowAnchor: [0, 30],  // the same for the shadow
		popupAnchor:  [0, -40] // point from which the popup should open relative to the iconAnchor
	});

	var map = new L.map('map', mapOptions);

        // Creating a Layer
	var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
	map.addLayer(layer);

	function add_marker(country, label){
		var request = new XMLHttpRequest()
		request.open('GET', 'http://api.geonames.org/searchJSON?q=' + country + '&maxRows=1&username=samnal', true)
		request.onload = function() {
  			// Begin accessing JSON data here
  			var data = JSON.parse(this.response)
  			if (request.status >= 200 && request.status < 400) {
				var latitude = data.geonames[0].lat;
				var longitude = data.geonames[0].lng;
				var marker = L.marker( [latitude, longitude],{icon: quingIcon});
				marker.addTo(map);
				marker.bindPopup(label);
			} else {
				console.log('error')
			}
		}
		request.send()
	}

	function add_marker_dict(country, label, dict, count){
		if(count[country] == undefined){
			count[country] = 0;
		}else{
			count[country] = count[country] + 1;
		}
		if(dict[country] == undefined){
			dict[country] = label;
		}

	}

	var rows = <%-JSON.stringify(v_points)%>;
	var dict = new Object();
	var count = new Object();
	for (var i = 0; i < rows.length; i++){
		add_marker_dict(unescape(rows[i]['Place']), unescape(rows[i]['Name']), dict, count);
	}
	Object.entries(dict).forEach(([key, value]) => {
		if(key != 'Unknown'){
			var value_ = value;
			if(count[key] == 1){
				value_ = value_ + " and " + count[key] + " other";
			}
			if(count[key] > 1){
				value_ = value_ + " and " + count[key] + " others";
			}
			add_marker(key,'<a href="../?' + escape(key) + '">' + value_ + '</a>');
		}
	});
	map.setView(new L.LatLng(30,0))

	</script>
</body>

</html>
