<!doctype html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="icon" href="crown.png" />
	<title>Quings</title>
</head>

<body>
	<h1><%= v_help %></h1>
	<h2><%= v_amount %></h2>
	<form action="/map" method="post">
		<input type="hidden" id="table" name="table" value='<%-JSON.stringify(v_table)%>'>
		<input type="submit" value="Browse as a map">
	</form>
	<%- v_content %>

</body>

</html>
