body {
	text-align: center;
	background: linear-gradient(90deg, #ff3399, #1ad1ff);
}

h1 {
	font-size: 60px;
	color: #ff80bf;
	text-shadow: 2px 2px #000000;
}

h2 {
	font-size: 40px;
	color: #cc33ff;
	text-shadow: 2px 2px #000000;
}

h3 {
	font-size: 20px;
	background-color: #000000;
	color: #bb99ff;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	border: solid 2px #ff0000;
	border-radius: 12px;
}

label, p {
	font-size: 20px;
	color: #33f0ff;
	text-shadow: 1px 1px #000000;
	margin: 10px 10px 10px 10px;
}

.txt {
	color: #999999;
}

article {
	font-size: 50px;
	font-weight: bold;
	background-color: #ff3399;
	color: #1ad1ff;
	text-shadow: 3px 3px #000000;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	border: solid 2px #ff3399;
	border-radius: 12px;
}

a {
	color: #1ad1ff;
	text-decoration: none;
}

a:visited {
	color: #00ff00;
}

a:hover {
	color: #ffff00;
}
